<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Votacion de Consorcio</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding class="fondo">

  <ion-list radio-group [(ngModel)]="voto">
    <!--    <ion-list-header>
      Este mes votaremos:
    </ion-list-header><br>-->

    <ion-item class="botonMatafuego">
      <!--  <ion-label>{{opcion1}}</ion-label> -->
      <ion-label class="texto">{{opcion1}}</ion-label>
      <ion-radio checked="true" value=1></ion-radio>

    </ion-item>
    <br>
    <ion-item class="botonPlanta">
      <!--    <ion-label>{{opcion2}}</ion-label>-->
      <ion-label class="texto">{{opcion2}}</ion-label>
      <ion-radio value=2></ion-radio>
    </ion-item>
  </ion-list>

  <div *ngIf="voto">
    <ion-card>
      <ion-card-header class="fondoverde"> Usted votara por: opcion {{voto}} </ion-card-header>
    </ion-card>

    <div *ngIf="!yaVoto"><br>
      <button ion-button color="secondary" icon-start (click)="votar()">
      <ion-icon name='hand'></ion-icon>
      Votar
    </button>
    </div>


    <div *ngIf="yaVoto"><br>
      <button ion-button color="danger" icon-start (click)="votar()">
      <ion-icon name='hand'></ion-icon>
      Cambiar Voto
    </button>
    </div>
  </div>

  <ion-card>
    <ion-card-header class="fondoverde">
      Resultados de la votacion:
      <br><br>
    </ion-card-header>
    <ion-card-content class="fondoverde">
      <h1>
        <ion-icon name="flame"></ion-icon>
        {{opcion1}}: {{votoA}}</h1><br><br>
      <h1>
        <ion-icon name="leaf"></ion-icon>
        {{opcion2}}: {{votoB}}</h1><br><br>
      <h2>
        <ion-icon name="card"></ion-icon>
        Cantidad de votantes: {{cantVotos}}</h2>
    </ion-card-content>
  </ion-card>

  <div *ngIf="esAdmin"><br>
    <button ion-button color="danger" icon-start (click)="reiniciarVotacion()">
    <ion-icon name='archive'></ion-icon>
    Reiniciar Votacion
  </button>
  </div>


  <div *ngIf="esAdmin"><br>
    <ion-item>
      <ion-input type="text" placeholder="Opcion 1" [(ngModel)]="nuevaOpcion1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Opcion 2" [(ngModel)]="nuevaOpcion2"></ion-input>
    </ion-item><br>
    <button ion-button color="danger" icon-start (click)="establecerNuevasOpciones()">
      <ion-icon name='archive'></ion-icon>
      Establecer nuevas opciones
    </button>
  </div>

</ion-content>