page-aplicacion {
    .fondo{
        background-image: url('../assets/img/fondo2.jpg');
      }
      .fondoverde{
          background-color: #7CCF9C;
      }
      .texto{
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        border: none;
        font: normal 44px/1 "Comic Sans MS", cursive, sans-serif;
        color: #374ED3;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        text-shadow: 4px 0 9px rgba(0, 0, 0, 0.95) ;
      }
      .botonPlanta {
        background: url('../assets/img/planta.png'), #0199d9;

        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px;
        border: none;
        font: normal 16px/1 "Times New Roman", Times, serif;
        color: black;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
    }
    .botonMatafuego {
        background: url('../assets/img/matafuego.png'), #0199d9;

        display: inline;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding: 30px;
        border: none;
        font: normal 16px/1 "Times New Roman", Times, serif;
        color: black;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
    }
}
