page-aplicacion {
    .fondo{
        background-image: url('../assets/img/fondo2.jpg');
      }
      .fondoverde{
          background-color: #7CCF9C;
      }
      .botonPlanta {
        color:red;

        background-image: url('../assets/img/planta.png'); /* 16px x 16px */
        background-color: transparent; /* make the button transparent */
        background-position: center;
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: none;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 16px;           /* make this the size of your image */
        padding-left: 16px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
    }

    .botonMatafuego {
        color:red;

        background-image: url('../assets/img/matafuego.png'); /* 16px x 16px */
        background-color: transparent; /* make the button transparent */
        background-position: center;
        background-position: 0px 0px;  /* equivalent to 'top left' */
        border: none;           /* assuming we don't want any borders */
        cursor: pointer;        /* make the cursor like hovering over an <a> element */
        height: 16px;           /* make this the size of your image */
        padding-left: 16px;     /* make text start to the right of the image */
        vertical-align: middle; /* align the text vertically centered */
    }
}
