<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Votacion de Consorcio</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>

  <ion-list radio-group [(ngModel)]="voto">
    <ion-list-header>
      Este mes votaremos:
    </ion-list-header>

    <ion-item>
      <ion-label>{{opcion1}}</ion-label>
      <ion-radio checked="true" value=1></ion-radio>
    </ion-item>

    <ion-item>
      <ion-label>{{opcion2}}</ion-label>
      <ion-radio value=2></ion-radio>
    </ion-item>
  </ion-list>


  <div *ngIf="voto">
    Usted votara por: opcion {{voto}}
    <div *ngIf="!yaVoto"><br>
      <button ion-button color="secondary" outline icon-start (click)="votar()">
      <ion-icon name='hand'></ion-icon>
      Votar
    </button>
    </div>

    <div *ngIf="yaVoto"><br>
      <button ion-button color="danger" outline icon-start (click)="votar()">
      <ion-icon name='hand'></ion-icon>
      Cambiar Voto
    </button>
    </div>
  </div>

  <ion-card>
    <ion-card-header>
      Resultados de la votacion:
    </ion-card-header>
    <ion-card-content>
      <ion-icon name="leaf"></ion-icon>
      {{opcion1}}: {{votoA}}<br><br>
      <ion-icon name="flame"></ion-icon>
      {{opcion2}}: {{votoB}}<br><br>
      <ion-icon name="card"></ion-icon>
      Cantidad de votantes: {{cantVotos}}
    </ion-card-content>
  </ion-card>

  <div *ngIf="esAdmin"><br>
    <button ion-button color="danger" outline icon-start (click)="reiniciarVotacion()">
    <ion-icon name='archive'></ion-icon>
    Reiniciar Votacion
  </button>
  </div>


  <div *ngIf="esAdmin"><br>
    <ion-item>
      <ion-input type="text" placeholder="Opcion 1" [(ngModel)]="nuevaOpcion1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input type="text" placeholder="Opcion 2" [(ngModel)]="nuevaOpcion2"></ion-input>
    </ion-item>
    <button ion-button color="danger" outline icon-start (click)="establecerNuevasOpciones()">
      <ion-icon name='archive'></ion-icon>
      Establecer nuevas opciones
    </button>
  </div>

</ion-content>